#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.arrows {
  font-size: 70px;
  transform: translate(-50%, -50%);
  position: absolute;
  transform: rotate(45deg);
}
.right-arrow {
  transform: rotate(300deg);
  font-size: 70px;
  overflow-y: overlay;
}
.r-arrow{
  font-size: 70px;
  position: absolute;
}
